<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <%if (errosValidacao) { %>
        <ul class="erros">
            <%for(var i = 0; i < errosValidacao.length; i++){%>
                <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%> </li>
            <%}%>
        </ul>
    <%}%>
 
    <form action="/produtos" method="post">
        <label for="titulo">
            <p>Nome:</p>
            <input type="text" id="titulo" name="titulo" value="<%=produto.titulo%>" placeholder="Nome do produto" /> 
        </label>
        <label for="preco">
            <p>Preço:</p>
            <input type="text" id="preco" value="<%=produto.preco%>" name="preco" placeholder="100.50" />
        </label>
        <label for="descricao">
            <p>Descrição:</p>
            <textarea name="descricao" id="descricao" cols="30" rows="10"><%=produto.descricao%></textarea>
        </label>

        <button type="submit">Gravar</button>
    </form>
</body>
</html>